# Node.js
node_modules/

# Локальные файлы окружения
.env
.env.local

# Результаты сборки
dist/
build/
.next/
.nuxt/

# Лог-файлы
*.log

# Конфигурации IDE
.vscode/
.idea/

# Операционные системы
.DS_Store
Thumbs.db

# Кэш и временные файлы
coverage/